
.container {
	/* background: url('images/color-gradient-1uw.jpg'); */
    padding: 20px;
    width: 40%;
    margin-top: 2%;
    background: rgba(242, 242, 242, 0.6); 
    backdrop-filter: blur(10px); 
    box-shadow: -10px -10px 2em rgb(187, 187, 187), 10px 10px 2em rgb(240, 240, 240);
    border-radius: 20px;
}

span
{
    color: rgb(44, 44, 44);
}

#chat_box
{
/*    width: 90%;*/
    height:100%;
    margin-top: 4px;
}
.form-group
{
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(57, 57, 57);
}


body
{
    background: url('images/LRxGqsU.jpg');
}


